
/*color set: #A1C298, #FBF2CF, #FA7070 */
    body{
       background-color: #FBF2CF;}
    hr{
       border-color: #A1C298;
       border-style: dotted none none;
       height: 3px;
       border-width: 5px;
       width: 10%;
       margin-top: 40px;
     }
     h1{
       color: #FA7070;}
     h2{
       color: #FA7070;}
     h3{
       color: #FA7070;}
     table{
       border-spacing: 3px;
       border-color: #A1C298;
       margin: 30px;
     }
     strong {
       color: #FA7070;}

    li{
      width: 60%;
      text-align: justify;
    }

/*Top Menu*/
nav.top_menu{
background-color: #FA7070;
overflow:hidden;
}
nav.top_menu a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
nav.top_menu a:hover{
  background-color: grey;
 color: black;
}
nav.top_menu a.menu_item_active{
  background-color: #A1C298;
   color: white;
}

/*Sidebar*/
nav.side_menu{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #FA7070;
}
nav.side_menu a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 8px 6px 16px;
   text-decoration: none;
 font-size: 23px;
}
nav.side_menu a:hover{
  background-color: grey;
 color: black;
}
nav.side_menu a.menu_item_active{
  background-color: #A1C298;
   color: white;
}
/*Contact Form*/
    h4.contact-form{
      color: #FA7070;
      font-size: 20px;
    }
    #fname, #email, #message{
        color: #FA7070;
        font-weight: bold;
      }
     input[type=text], input[type=email], textarea{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
     }
     input[type=submit]{
       background-color: #A1C298;
       border-radius: 4px;
       color: white;
       padding: 12px;
       border: none;
       cursor: pointer;
     }
     input[type=submit]:hover{
       background-color: green;
     }

/*Back to Main Menu*/
     .backMain{
       background-color: #FA7070;
       color: white;
       border: none;
       padding: 10px;
       border-radius: 4px;
     }


/*Main intro*/
     img.myImage{
       display: block;
       width: 200px;
       border-radius: 100%;
       border-style: solid;
       border-width: medium;
       border-color: #A1C298;
       margin-left: 200%;
     }
     p.intro{
         width: 50%;
         text-align: justify;
       }

    div.intro{
      margin-left: 40%;
    }

/*learn more button*/
.learnMore {
  background-color: #A1C298;
  border-radius: 4px;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

 table.employment, table.education {
  border: 3px solid #A1C298;
border-spacing: 10px;
}
